<html>

<head>
    <link rel="stylesheet" href="main.css">
    <script src="vue.min.js"></script>
</head>

<body>

    <div id="app">
        <button @click="join('room.$private')" class="btns">subscribe `private`</button>
        <button @click="left('room.$private')" class="btns">unsubscribe `private`</button>

        <button @click="join('room.$pim')" class="btns">subscribe `pim`</button>
        <button @click="left('room.$pim')" class="btns">unsubscribe `pim`</button>
        <code>{{ID}}</code>
        <div id="log">
            <p v-for="(msg,index) in listMessages" :key="msg+index">{{msg}}</p>
        </div>
        <div id="form">
            <input type="text" id="msg" size="100" v-model="msg" @keyup.enter="submit" />
            <input type="button" value="Send" @click="submit" />
        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>